.venv/
venv/

# MLflow artifacts
mlruns/
mlflow.db

Explanation.txt

# Python cache 
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/


data/raw/*.csv

*.log

.DS_Store
Thumbs.db

.ipynb_checkpoints/
*.ipynb
EOF